---
---

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @view-transition {
    navigation: auto;
  }

  #main-content {
    view-transition-name: main-content;
  }

  ::view-transition-group(root) {
    animation: none;
  }

  ::view-transition-old(main-content) {
    animation: transition-out 0.3s ease-out;
  }

  ::view-transition-new(main-content) {
    animation: transition-in 0.3s ease-in;
  }

  @keyframes transition-out {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(-0.5rem);
    }
  }

  @keyframes transition-in {
    from {
      opacity: 0;
      transform: translateY(-0.5rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  html {
    font-variant-ligatures: common-ligatures;
  }

  mark {
    @apply bg-yellow-100;
  }
}

@layer components {
  .link {
    @apply text-blue-600;
    @apply hover:text-blue-800;
    @apply underline;
  }
}
