---
---

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* html {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
  } */
  html {
    font-variant-ligatures: common-ligatures;
  }
}

@layer components {
  .link {
    @apply text-blue-600;
    @apply hover:text-blue-800;
    @apply underline;
  }
}
