<!doctype html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>
      {{ page.title }}
      -
      {{ site.title }}
    </title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <script
      defer
      src="//cdn.jsdelivr.net/npm/alpinejs@3.14.1/dist/cdn.min.js"
    ></script>
  </head>
  <body class="bg-slate-200">
    <main class="container mx-auto px-4 py-8 max-w-screen-lg">
      <div class="mb-8">
        {% include layout/header.html %}
      </div>
      <div class="{{ page.content_class_names }}">{{ content }}</div>
    </main>
  </body>
</html>
