<!doctype html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>
      {{ page.title }}
      -
      {{ site.title }}
    </title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <script
      defer
      src="//cdn.jsdelivr.net/npm/alpinejs@3.14.1/dist/cdn.min.js"
    ></script>
  </head>
  <body class="bg-slate-200">
    <main class="container mx-auto p-4">
      <section>
        <div class="flex">
          <header class="grow">
            <h1 class="text-4xl font-bold">Curt Howard</h1>
            <p class="text-lg">A software engineer with a cat obsession</p>
            <p class="text-lg">Employment status: <span class="text-red-500">Available</span></p>
          </header>

          <pre>
 |\__/,|   (`\
 |_ _  |.--.) )
 ( T   )     /
(((^_(((/(((_/
              </pre>
        </div>
      </section>
      {{ content }}
    </main>
  </body>
</html>
