<!doctype html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>
      {{ page.title }}
      -
      {{ site.title }}
    </title>
    <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{ site.url }}/feed.xml">

    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <script src="{{ '/assets/js/main.js' | relative_url }}" defer></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Fira+Code:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    >

    <script>
      hljs.highlightAll();
    </script>
  </head>
  <body class="font-sans bg-slate-100">
    <div class="container max-w-4xl mx-auto min-h-screen p-8 flex flex-col gap-8">
      <header id="site-header">
        <h1 aria-label="{{ site.title }}">
          <a
            class="text-xs flex items-center gap-2"
            href="{{ '/' | relative_url }}"
          >
            <pre class="font-mono">
 ,_     _
 |\\_,-~/
 / _  _ |    ,--.
(  @  @ )   / ,-'
 \  _T_/-._( (
 /         `. \
|         _  \ |
 \ \ ,  /      |
  || |-_\__   /
 ((_/`(____,-'
            </pre>
          </a>
        </h1>
      </header>

      <main id="main-content" class="flex-grow {{ page.content_class_names }}">{{ content }}</main>

      {% if site.unemployed %}
        <footer class="border-t border-slate-300 pt-8">
          <p class="text-slate-600 prose min-w-full" id="hit-me-up">
            Ack! I'm unemployed! If you're interested in hiring me, you could reach me at
            <code>kurt.russell@proton.me</code> if you were to realize that my first name is actually spelled with a "C"
            and my last name isn't Russell. It's Howard. Thanks!
          </p>
        </footer>
      {% endif %}
    </div>
  </body>
</html>
